html, body {
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,0.8043417195979954) 0%, rgba(253,226,45,0.8295518036316089) 98%);
	background-repeat: no-repeat;
	min-height: 500px;
}

/* Header Section Starts */
.header {
	background-color: #343A40;
}
.custom_nav li {
	margin-top: 20px;
	margin-bottom: 20px;
}
.custom_nav li a {
	font-size: 20px;
	padding: 10px 50px!important;
	transition: .5s ease;
}
.custom_nav li a:hover {
	color: #fde22d!important;
}
/* Header Section Endss */
/* About Us Section Starts */
.about {
	margin-top: 220px;
}
.main_logo {
	margin-top: 30px;
}
.about_content {
	margin-top: 100px;
	margin-bottom: 50px;
}
.about_content h1 {
	font-weight: bold;
	color: #fff;
}
.about_content p {
	color: #fff;
	font-size: 20px;
	width: 70%;
	margin: 0 auto;
}
.about_content hr {
	width: 50px;
	margin: 20px auto;
	border: 3px solid #fde22d;
}
.service_content {
	margin-top: 50px;
}
.service_content h1 {
	color: #C9C9C9;
	font-size: 30px;
}
.table_custom {
	margin-bottom: 100px;
}
.thead-custom {
	background-color: #343A40!important;
	color: #fff;
	text-align: left;
}
.top_header {
	color: #fde22d!important;
	font-size: 22px!important;
}
.table_custom tr th {
	text-align: left;
	font-size: 18px;
}
.table_custom tr td {
	text-align: left;
}
/* About Us Section Ends */
/* Footer Section Starts */
footer {
	background-color: #343A40;
}
.footer_content {
	margin-top: 50px;
	margin-bottom: 50px;
}
.footer_content p {
	color: #fff;
	font-size: 16px;
	padding-top: 10px;
}
.footer_content li a {
	font-size: 26px;
	color: #fff!important;
	transition: .5s ease;
}
.footer_content li a:hover {
	color: #fde22d!important;
}
.footer_content li i {
	font-size: 26px;
	color: #fff;
}
.footer_content li p {
	font-size: 16px;
	color: #fff;
}
/* Footer Section Endss */